In [52]:
import pandas as pd
import numpy as np

In [107]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')

In [108]:
# Step 4. See the first 10 entries¶

chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [109]:
chipo.shape

(4622, 5)

In [110]:
# Step 5. What is the number of observations in the dataset?
chipo.shape[0]

4622

In [111]:
# Step 6. What is the number of columns in the dataset?
chipo.shape[1]

5

In [112]:
# Step 7. Print the name of all the columns.
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [113]:
# Step 7. Print the name of all the columns.
for col in chipo.columns:
    print(col)

order_id
quantity
item_name
choice_description
item_price

In [135]:
# Step 8. How is the dataset indexed?
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [136]:
# Step 10. For the most-ordered item, how many items were ordered?¶
# Step 9. Which was the most-ordered item?
chipo.groupby('item_name').quantity.sum().sort_values(ascending=False).head(1)

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

In [137]:
# Step 11. What was the most ordered item in the choice_description column?¶
chipo.groupby('choice_description').quantity.sum().sort_values(ascending=False).head(1)

choice_description
[Diet Coke]    159
Name: quantity, dtype: int64

In [117]:
# Step 12. How many items were orderd in total?
chipo['quantity'].sum()

4972

In [118]:
# Step 13. Turn the item price into a float
# Step 13.a. Check the item price 
chipo['item_price'].describe()

count       4622
unique        78
top       $8.75
freq         730
Name: item_price, dtype: object

In [119]:
# chipo['item_price'] = chipo['item_price'].replace('\$', '', regex=True).astype(float)
chipo['item_price'] = chipo['item_price'].map(lambda x : x.replace('$', '')).astype(float)

In [120]:
# Step 13.a. Check the item price 
chipo['item_price'].dtype

dtype('float64')

In [138]:
# Step 14. How much was the revenue for the period in the dataset?
(chipo['quantity']*chipo['item_price']).sum()

39237.02

In [143]:
# Step 15. How many orders were made in the period?
# len(chipo['order_id'].value_counts())
chipo['order_id'].value_counts().count()

1834

In [122]:
# Step 16. What is the average revenue amount per order?

chipo['total_price'] = chipo.groupby('order_id').item_price.transform('sum')

In [123]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price,total_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,11.56
1,1,1,Izze,[Clementine],3.39,11.56
2,1,1,Nantucket Nectar,[Apple],3.39,11.56
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,11.56
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,16.98

In [125]:
# chipo['total_quantity'] = 
chipo['total_quantity'] = chipo.groupby('order_id').order_id.transform('count')

In [126]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price,total_price,total_quantity
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,11.56,4
1,1,1,Izze,[Clementine],3.39,11.56,4
2,1,1,Nantucket Nectar,[Apple],3.39,11.56,4
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,11.56,4
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,16.98,1

In [127]:
chipo['quantity'].sum()*chipo['item_price'].sum()

171534795.52

In [132]:
chipo['quantity'].sum()

4972

In [144]:
# Step 16. What is the average revenue amount per order?
(chipo['quantity']*chipo['item_price']).sum() / chipo['order_id'].value_counts().count()

21.39423118865867

In [134]:
# Step 17. How many different items are sold?
chipo['item_name'].nunique()

50